.title{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    text-align: center;
    gap: 1px; 
    color: #4B3621; 
    filter: brightness(1) 
        saturate(0%) 
        invert(0%) 
        sepia(10%) 
        saturate(1000%) 
        hue-rotate(0deg) 
        brightness(100%) 
        contrast(150%); 
    border: 1px solid #C8A96A;
    border-radius: 10px;
    position: fixed;
    top: 1.5%;
    width: 35%;
    backdrop-filter: blur(10px);
    z-index: 9999;
}

.contenedor-pedido-fijo {
  /* Posicionamiento: Ajusta esto según dónde quieras el bloque en tu web */
  position: fixed; /*relative;  O 'absolute'/'fixed' si quieres que flote sobre otros elementos */
  top: 17%; 
  justify-self: center;
  
  /* TAMAÑO DEL BLOQUE VISIBLE (importante) */
  width: 80%; /* O el ancho que desees, ej: 80% */
  height: 70vh; /* El bloque medirá el 80% del alto de la pantalla */
  
  /* COMPORTAMIENTO DEL SCROLL (La magia) */
  overflow-y: auto; /* Muestra barra de scroll vertical solo si es necesario */
  overflow-x: hidden; /* Evita scroll horizontal */
  
  /* Estilos visuales opcionales */
  padding: 15px;
  backdrop-filter: blur(10px);
  /* background-color:rgba(255, 255, 255, 0.5);  */
  border: 1px solid #C8A96A;;
  border-radius: 10px;
  box-sizing: border-box; /* Asegura que el padding no sume al tamaño */
}