.title{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 1px; 
    color: #4B3621; 
    border: 1px solid #C8A96A;
    border-radius: 10px;
    position: fixed;
    top: 1.5%;
    width: 15%;
    backdrop-filter: blur(10px);
}
.filtro_categoria{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 1px; 
    color: #4B3621; 
    border: 1px solid #C8A96A;
    border-radius: 10px;
    position: fixed;
    top: 10%;
    right: 20%;
    width: 25%;
    backdrop-filter: blur(10px);
    z-index: 10000;
}
.catalogo{
 display: flex;  
 flex-flow: row; 
 justify-self: center;
 align-items: center; 
 gap: 5px;
 width: 75%;
 height: 65%;
 
}
.card_items{
    display: flex;
    flex-flow: row;
    justify-self: center;
    align-items: center; 
    gap: 5px;
    padding: 5px;
    color: #4B3621;
    font-weight: 900;
    width: 75%;
    height: 65%;
    text-align: center;
    position: fixed;
    top: 17%;
    border: 2px solid #4B3621;
    border-radius: 50px;
    backdrop-filter: blur(8px);
}
.card_productos{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    gap:15px;
    padding: 5px;
    background-color: #fad790;
    filter: brightness(1) 
        saturate(0%) 
        invert(0%) 
        sepia(10%) 
        saturate(1000%) 
        hue-rotate(0deg) 
        brightness(100%) 
        contrast(100%);
    border: 2px solid #4B3621;
    border-radius: 50px;
}
