.btn-navegacion {
  display: inline-block;
  padding: 5px 5px;
  background-color: #fad790; 
  filter: brightness(1) 
        saturate(0%) 
        invert(0%) 
        sepia(10%) 
        saturate(1000%) 
        hue-rotate(0deg) 
        brightness(100%) 
        contrast(100%); 
  color: #4B3621;
  text-decoration: none; /* Quita el subrayado del link */
  border: 2px solid #4B3621;
  border-radius: 25px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-navegacion:hover {
  background-color: #C8A96A;
}