.title{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 1px;
    /* background-color: #F5F0E6; */
    color: #4B3621;
    
    border: 1px solid #C8A96A;
    border-radius: 10px;
    position: fixed;
    top: 1.5%;
    width: 15%;
    backdrop-filter: blur(10px);
}

.card{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 5px;
    padding: 5px;
    background-color: #C8A96A;
    /* background-color: #F5F0E6; */
    filter: brightness(1) 
        saturate(0%) 
        invert(0%) 
        sepia(15%) 
        saturate(1000%) 
        hue-rotate(0deg) 
        brightness(100%) 
        contrast(100%);
    /* backdrop-filter: blur(8px); */
    color: #4B3621;
    font-weight: 900;
    width: 75%;
    text-align: center;
    position: fixed;
    top: 50%;
    border: 2px solid #4B3621;
    border-radius: 50px;
}