.title{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 1px; 
    color: #4B3621; 
    border: 1px solid #C8A96A;
    border-radius: 10px;
    position: fixed;
    top: 1.5%;
    width: 15%;
    backdrop-filter: blur(10px);
}

.card{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    gap: 1px;
    padding: 5px;
    background-color: #fad790;
    filter: brightness(1) 
        saturate(0%) 
        invert(0%) 
        sepia(10%) 
        saturate(1000%) 
        hue-rotate(0deg) 
        brightness(100%) 
        contrast(100%); 
    color: #4B3621;
    font-weight: 900;
    width: 75%;
    text-align: center;
    position: fixed;
    top: 50%;
    border: 2px solid #4B3621;
    border-radius: 50px;
}

.button{
    display: flex;
    flex-flow: column;
    justify-self: center;
    align-items: center; 
    position: relative;
    top: 25px;
}